.background-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateY(100%);

  background-color: #5F448C;

  z-index: 1;
}

.background-screen--active {
  transform: translateY(0);
}