.page--loaded {
  .page-header__logo {
    transform: translateX(0);
    opacity: 1;
  }

  .page-header__menu {
    opacity: 1;
  }

  .page-header__toggler {
    opacity: 1;
  }

  .page-header__menu a.active::after {
    width: 100%;
    left: 0;
    right: auto;
  }

  .page-header__social {
    opacity: 1;
  }

  .social-block__toggler::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

